/* $Id: style.css,v 1.1.2.1 2008/02/14 11:38:36 johnalbin Exp $ */

/*
 * This space intentionally left blank.
 *
 * See template.php to see how Zen styles are added to the page.
 */

/*****
 * TT custom styles for GGM
 */

.pink {
	color: #C6006F;
}

/* style for the big blocks on the home page */

body.front div#content div.node
  {
	background-image: url(images/homepage/worldmap-faded.png);
	background-repeat: repeat-x;
  background-position: left bottom;
  height:460px;
  padding-top:1px;
  }

/*
 * For home page
 */

div#welcomebubble
  {
  	background-image: url(images/welcome_bubble.png);
	background-repeat: no-repeat;
	height: 500px;
	margin-left: 90px;
	margin-top: 30px;
	padding: 40px 30px 20px 30px;
	font-size: 1.2em;
  }

div#welcomebubble p {
	margin-top: 0;
}
div#welcomebubble a {
	color: #000;
	text-decoration: none;
}

div#welcometext
{
	width: 280px;
	padding-right: 10px;
	border-right: dashed #CC0000 thin;
	float: left;
	display: inline;
}

div#designtext
{
	display: inline;
	width: 200px;
	padding-left: 20px;
	float: left;
	color: #C6006F;
}

div#designtext a
{
	color: #C6006F;
}

div#designtext p {
	padding-top: 1em;
}

span.ogm {
	color: #8CC63F;
}


/* may need IE fix for centering this */
#bigbuttons
  {
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	max-width: 700px;
	border: 1px solid #999999;
  }


#bigbuttons ul.big
  {
    list-style-type: none;
  }

#bigbuttons li.big
  {
    float: left;
	background-repeat: no-repeat;
  	width: 190px;
	height: 136px;
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid #999;
	font-weight: bold;
  overflow: hidden;
  }

#bigbuttons li.explore
  {
	background-image: url(images/world_map_bg.jpg);
  }

#bigbuttons li.expand
  {
	background-image: url(images/local_map_bg.jpg);
  }

#bigbuttons li.exchange
  {
	background-image: url(images/involved_bg.jpg);
  }

#bigbuttons ul.big a
{
	color: #000;
}

#bigbuttons ul.big h2 a
  {
	color: #fff;
	line-height: 1.5em;
  }

#bigbuttons p
  {
	margin-left:10px;
	margin-right:10px;
  }

#bigbuttons div.view li
{
	list-style: none;
}

#bigbuttons div.view ul
{
	padding: 0;
}

#bigbuttons h2 {
	background-repeat: no-repeat;
	background-position: center center;
}

#bigbuttons h2.explore {
	background-image: url(images/homepage/orangetitle.png);
}

#bigbuttons h2.latest {
	background-image: url(images/homepage/pinktitle.png);
}

#bigbuttons h2.involved {
	background-image: url(images/homepage/greentitle.png);
}

#homepagetext {
	padding: 0 3em 1em 2em;
}


/* donate button on homepage */
#block-block-5 {
  text-align: center;
}

/* floats the filter for the view to the right */
/* currently just hiding the exposed filter on the map */

div.view-og-ghp-map form#views-filters, div.view-greenmap form#views-filters {

	display: none;
/*
	z-index: 2;
	position: absolute;
	right: 208px;
	top: 65px;
	background-color:white;
	opacity:0.85;
	padding: 25px;
*/
}


/* floats the map type buttons in a bit */

div.gmap-map div.gmnoprint {
	right: 300px;
}

/* Theme the popup window on map */
div.gmappopup, div.gmapstyle-title a, div.gmappopup a {
	color: #414141;
	width: 300px;
}

div.gmapstyle-name {
	text-transform: lowercase;
}

div.gmapstyle-title {
	font-size: 1.4em;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	margin-bottom: 10px;

}

div.gmapstyle-field_image_embed {
	float: right;
}

div.gmapstyle-value, div.gmapstyle-value div.fivestar-widget-static, div.gmapstyle-more {
	display: inline;
}

div.gmapstyle-more {
	margin-left: 10px;
}

div.gmapstyle-email {
	background-image: url(img/email.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px 4px;

}

div.gmapstyle-link {
	background-image: url(img/link.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px 4px;
}

/*
	GH: not in use anymore

div.gmappopup .nature, div.nature a {
	color: #64b535;
	border-color: #64b535;
}
div.gmappopup .culture, div.culture a {
	color: #e18321;
	border-color: #e18321;
}
div.gmappopup .sustainability, div.sustainability a {
	color: #1b72d9;
	border-color: #1b72d9;
}
*/

/*****
 * TT custom styles for GGM node-green_site.tpl.php
 */

/** New to be moved over **/

div.sustainable div.taxname {
	color: #2E67B1;
}

div.nature div.taxname {
	color: #089848;
}

div.culture div.taxname {
	color: #F79838;
}

div#address, div#mediathumbs {
	float: right;
	width: 175px;
  margin-left:10px;
}

div#address {
  /* GH: added to limit the address to four lines for now */
/* 	max-height: 68px; */
/* 	overflow: hidden; */
}

img.submitted_icon {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}
img.map_icon {
  float: left;
  margin-right: 5px;
}


#bubble_small .submitted_text {
  float: left;
  font-size: 0.9em;
}

#bubble_small .submitted_icon {
/*   clear: left; */
}

div#siteactions ul {
	list-style: none;
	padding: 0;
}

div#siteactions a {
	color: #999999;
}

div.fivestar form.fivestar-widget {
	clear: none;
}

div.fivestar div.fivestar-widget {
	display: inline;
}

h2.icontitle {
	color: #666666;
	margin-bottom: 10px;
	margin-top: 0;
	font-weight: normal;
	/* GH: we limit the height here */
	max-height: 1.3em;
	overflow: hidden;
}

div#address a {
 	color: #99cc33;
}

div.taximage img {
	margin-right: 8px;
}

/* zen copied tabs for bubbles */


  div.drupal-tabs ul.primary li
  {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0 0 0 5px; /* width of tab-left.png */
    border-width: 0;
    font-weight: bold;
    text-decoration: none;
    color: #777;
    background-color: transparent;
    background: url(images/tab-left.png) no-repeat left -38px;
  }

  div#tabs-tabs ul.tabs {
	height: 2em;
  }

  div.drupal-tabs ul.primary li a
  {
    display: block;
    height: 20px; /* 24px (parent) - 4px (padding) */
    margin: -1px;
    padding: 4px 13px 0 6px;
    border-width: 0;
    line-height: 20px;
    background: url(images/tab-right.png) no-repeat right -38px;
	position: relative;
	top: 1px;
  }

  div.drupal-tabs ul.primary a:hover
  {
    border-width: 0;
    background-color: transparent;
    background: url(images/tab-left.png) no-repeat left -76px;
  }

  div.drupal-tabs ul.primary li a:hover
  {
    background: url(images/tab-right.png) no-repeat right -76px;
  }

  div.drupal-tabs ul.primary li.active ,
  div.drupal-tabs ul.primary li.active
  {
    border-width: 0;
    color: #000;
    background-color: transparent;
    background: url(images/tab-left.png) no-repeat left 0;
  }

  div.drupal-tabs ul.primary li.active a ,
  div.drupal-tabs ul.primary li.active a:hover
  {
    background: url(images/tab-right.png) no-repeat right 0;
  }
/* end of tabs */

div.fivestar {
	display: block;
  margin-top: 10px;
}

div.siteicons {
	display: inline;
	float: left;
	margin-right: 10px;
}

div.siteicons ul.links li {
	padding: 0 3px;
}

div.meta {
	margin-top: 10px;
}
div.meta-bubble {
  float: left;
}
div.meta .submitted_text {
  float: left;
}
/** Styles for navigation/key stuff **/

div.fragment {
	padding: 0;
}

div.rightalign {
	text-align: right;
}

img.imagecache-mapkey {
	margin-right: 3px;
}

div.block-group_map select {
	width: 180px;
}

a.downloadmap {
	background: url(images/downloadmap.gif) no-repeat;
	padding-left: 20px;
}

div#tabs-tabskey-1, div#tabs-tabskey-2, div#tabs-tabskey-3 {
	padding: 10px;
	background: url(images/grey.png) repeat-y right;
}

div#block-group_map-1 ul.primary, div#block-group_map-0 ul.primary {
	background-color: #fff;
	height: 2em;
	padding-left: 2px;
}

div#block-group_map-1 div.content, div#block-group_map-0 div.content {
	background: transparent url(images/grey.png) repeat-y;
}

div#block-group_map-1 div.block-inner, div#block-group_map-0 div.block-inner {
	background: transparent url(images/grey.png) repeat-x bottom;
}

div#block-group_map-1 h2, div#block-group_map-1 h3, div#block-group_map-0 h2, div#block-group_map-0 h3 {
	margin-top: 0;
}

/* Theming of testimonials block */

div.block div.node {
	padding: 0;
}

div.block div.node p {
	margin-top: 0;
}


/* have to hide this - for some reason search block embedded doesn't work with out the real block on the page */
div#block-search-0 {
	/* display: none; */
}

/** end of new **/

/* Theming the comments */

#comments, H2.comments {
	display: none;
}

div.mycomments div#comments {
	display: block;
}

/* Theming tabs */

div.tabs div.fragment {
	background: transparent;
}

/* Theming Language Block */

div#block-i18n-0 H2 {
	display: none;
}

div#block-i18n-0 ul, div#block-i18n-0 li {
	display: inline;
	padding: 0 1em 0 0;
}

.hidden {
	display: none;
}

#bubble_full_edit {
	/* edit */
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;	/* GH: use different font? */
	font-size: 0.8em;
	margin-right: 2px;
	margin-top: 2px;
	text-align: right;
}


/* Impacts tab */

#addimpact {
	margin-right: 10px;
	margin-top: 15px;
}

#addimpact select {
	margin-left: 5px;
	margin-right: 5px;
}

#tabs-tabs #impacts_chart {
	float: left;
	margin-top: 25px;
}

#impacts_right {
	margin-left: 305px;
	margin-right: 12px;
	margin-top: 25px;
}

#impacts_list {
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	height: 130px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#impacts_list ul {
	margin: 0px;
}

#impacts_stats {
	color: #999999;
}

.view-empty-list-of-impacts-for-site {
	text-align: center;
}

/* Multimedia */

#multimedia_main {
	height: 240px;
	margin-left: 0;
	margin-top: 10px;
	position: absolute;
	width: 320px;
}

div.multimedia {
  height: 250px;
}

div#comment .resizable-textarea textarea {
	height: 50px;
}

#multimedia_main_na {
	/* no media available */
  background: #fff;
  height: 200px;
  width: 500px;
}


#multimedia_description {
	/* font-size: 11px;  /* Removed by TT as avoiding fixed size fonts */
	height: 229px;
	left: 366px;
	line-height: 1.15;
	margin-top: 26px;
	max-height: 229px;
	max-width: 160px;
	overflow: hidden;
	position: absolute;
	width: 160px;
}


.multimedia_description_title {
	max-height: 165px;
	overflow: hidden;
	padding-bottom: 2px;
}


.multimedia_description_flag {

}


.multimedia_description_description {
	padding-top: 1em;
}


#multimedia_selector_title {
	/* font-size: 11px;  /* Removed by TT as avoiding fixed size fonts */
	left: 545px;
	margin: 0px;
	margin-top: 10px;
	position: absolute;
}


#multimedia_selector_title a {
	color: rgb(140, 198, 65);
}


#multimedia_selector {
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	height: 217px;
	left: 545px;
	margin-top: 37px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 96px;
}


#multimedia_selector ul {
	margin: 0px;
	padding: 0px;
}


#multimedia_selector li {
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-color: #cccccc;
	border-style: dotted;
	cursor: pointer;
	line-height: 1em;
	list-style-type: none;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: center;
}


#multimedia_selector li:hover {
	background-color: #eeeeee;
}


#multimedia_selector li img {
	vertical-align: middle;
	margin-left: 1px;
}

/* sponsors page */
#node-2734 img {
	float: left;
	margin-right: 10px
}
#node-2734 {
	max-width: 600px;
}

/* simple pages - hide admin menu */
body.simple #admin-menu, body.simple #closure-blocks {
    display: none;
}