/**
 *	n icons on the map, Zoom in to view more.
 */
#infobubblezoom_container {
	max-width: 181px;
	width: 181px;
}


#infobubblezoom_top {
	background-image: url('img/zoombubbletop_small.png');
	height: 40px;
}


#infobubblezoom_middle {
	background-image: url('img/zoombubblemiddle.png');
	background-repeat: repeat-y;
}


#infobubblezoom_middle div {
	line-height: 1.3em;
	padding-bottom: 7px;
	padding-left: 45px;
	padding-right: 10px;
	text-align: center;
}


#infobubblezoom_bottom {
	background-image: url('img/zoombubblebottom_small.png');
	height: 27px;
}


/**
 *	Use the Legend to filter the icons.
 */
#infobubbleicons_container {
	max-width: 180px;
	width: 180px;
}


#infobubbleicons_top {
	background-image: url('img/filterbubbletop_small.png');
	height: 40px;
}


#infobubbleicons_middle {
	background-image: url('img/filterbubblemiddle.png');
	background-repeat: repeat-y;
	max-width:
}


#infobubbleicons_middle div {
	line-height: 1.3em;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 45px;
	text-align: center;
}


#infobubbleicons_bottom {
	background-image: url('img/filterbubblebottom_small.png');
	height: 20px;
}

#infobubblezoom_close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: url("http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif") no-repeat;
  height: 12px;
  width: 12px;
  float: right;
  z-index: 999;
}

#infobubbleicons_close {
  position: absolute;
  top: 5px;
  left: 5px;
  background: url("http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif") no-repeat;
  height: 12px;
  width: 12px;
  z-index: 999;
}