#keys {
	margin-left: -22px;
}

.key_genre {
	margin-bottom: 2px;
	margin-top: 4px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-top: 1px;
}


.key_genre_title {
	list-style-type: none;
	list-style-position:inside;
}


.key_genre_content {
	display: none;	/* to hide the icons while loading */
}

.key_category {
	margin-bottom: 2px;
	margin-left: 10px;
	margin-top: 2px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-top: 1px;
}


.key_category_title, .key_genre_title {
	list-style-image: url(images/menu-collapsed-green.png);
	list-style-type: none;
}
.key_expanded {
  list-style-image: url(images/menu-expanded-green.png);
  list-style-type: none;
}


.key_title {
	cursor: pointer;
	display: inline;
	padding-right: 20px;
	margin-left:-30px;
	padding-left:30px;
}


.key_checkbox {
	display: inline;
	position: absolute;
	right: 27px;
}


.key_category_content {
	margin-bottom: 2px;
	margin-right: 20px;
	margin-top: 9px;
}


.key_icon_global_hack {
	display: inline;
	margin-left: 2px;
	margin-right: 2px;
}


.key_icon {
	display: inline;
	cursor: pointer;
	margin: 0 2px;
}


.key_icon_disabled {
}

div#instruction_bubble {
  background: url('images/legend_bubble_resized.png') no-repeat top right;
  position: absolute;
  z-index: 1000;
  right: 200px;
  top: 10px;
  width: 225px;
  height: 225px;
}
div#instruction_bubble .instructions {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  width: 140px;
  margin: 21px;
  margin-top: 20px;
}
div#instruction_bubble .instructions strong {
  color: #C6006F;
}
#instruction_bubble_close {
  position: absolute;
  top: 10px;
  right: 60px;
  background: url("http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif") no-repeat;
  height: 12px;
  width: 12px;
  float: right;
  z-index: 999;
}
#keys h3.keys {
  float: left;
}
#keys_help_button {
  background: url("images/question.png") top right no-repeat;
  height: 16px;
  width: 16px;
  margin: .3em 0 0 1.2em;
  position:absolute;
  right: 25px;
  top: 45px;

}
#keys_help_button:hover {
  background: url("images/question_active.png") top right no-repeat;
}


/* Handle custom list style arrows */

/* blue */
#key_genre_title_42 , #key_genre_title_42 li.key_collapsed, #key_category_title_307, #key_category_title_307 li.key_collapsed, #key_category_title_323, #key_category_title_323.key_collapsed {
  list-style-image: url(images/menu-collapsed-blue.png);
}
#key_genre_title_42.key_expanded, #key_genre_title_42 li.key_expanded, #key_category_title_307.key_expanded, #key_category_title_307 li.key_expanded, #key_category_title_323, #key_category_title_323 li.key_expanded {
  list-style-image: url(images/menu-expanded-blue.png);
}
/* green */
#key_genre_title_43, #key_genre_title_43 li.key_collapsed, #key_category_title_308, #key_category_title_308 li.key_collapsed,  #key_category_title_327, #key_category_title_327 li.key_collapsed {
  list-style-image: url(images/menu-collapsed-newgreen.png);
}
#key_genre_title_43.key_expanded, #key_genre_title_43 li.key_expanded, #key_category_title_308.key_expanded, #key_category_title_308 li.key_expanded, #key_category_title_327.key_expanded, #key_category_title_327 li.key_expanded {
  list-style-image: url(images/menu-expanded-newgreen.png);
}
/* orange  */
#key_genre_title_44, #key_genre_title_44 li.key_collapsed, #key_category_title_310, #key_category_title_310 li.key_collapsed, #key_category_title_331, #key_category_title_331 li.key_collapsed {
  list-style-image: url(images/menu-collapsed-orange.png);
}

#key_genre_title_44.key_expanded, #key_genre_title_44 li.key_expanded, #key_category_title_310.key_expanded, #key_category_title_310 li.key_expanded, #key_category_title_331.key_expanded, #key_category_title_331 li.key_expanded {
  list-style-image: url(images/menu-expanded-orange.png);
}
key_category_title key_category_title_310_collapsed key_collapsed