/* $Id: style.css,v 1.1.2.1 2008/02/14 11:38:36 johnalbin Exp $ */

/*
 * This space intentionally left blank.
 *
 * See template.php to see how Zen styles are added to the page.
 */

/*****
 * TT custom styles for GGM
 */

.pink {
	color: #C6006F;
}

/* style for the big blocks on the home page */

div#node-12938,
div#node-1540,
div#node-11690,
div#node-4849,
div#node-5298,
div#node-5603,
div#node-7161
  {
	background-image: url(images/homepage/worldmap-faded.png);
	background-repeat: repeat-x;
  background-position: left bottom;
  height:460px;
  padding-top:1px;
  }

/*
 * For home page
 */

div#welcomebubble
  {
  	background-image: url(images/welcome_bubble.png);
	background-repeat: no-repeat;
	height: 500px;
	margin-left: 90px;
	margin-top: 30px;
	padding: 40px 30px 20px 30px;
	font-size: 1.2em;
  }

div#welcomebubble p {
	margin-top: 0;
}
div#welcomebubble a {
	color: #000;
	text-decoration: none;
}

div#welcometext
{
	width: 280px;
	padding-right: 10px;
	border-right: dashed #CC0000 thin;
	float: left;
	display: inline;
}

div#designtext
{
	display: inline;
	width: 200px;
	padding-left: 20px;
	float: left;
	color: #C6006F;
}

div#designtext a
{
	color: #C6006F;
}

div#designtext p {
	padding-top: 1em;
}

span.ogm {
	color: #8CC63F;
}


/* may need IE fix for centering this */
#bigbuttons
  {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	max-width: 700px;
  }


#bigbuttons ul.big
  {
    list-style-type: none;
  }

#bigbuttons li.big
  {
    float: left;
	background-repeat: no-repeat;
  	width: 190px;
	height: 136px;
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
  overflow: hidden;
  }

#bigbuttons li.explore
  {
	background-image: url(images/white_button.png);
	background-repeat: repeat;
  border: 2px solid #F89938;
  }

#bigbuttons li.expand
  {
	background-image: url(images/white_button.png);
	background-repeat: repeat;
  border: 2px solid #D40B5F;
  }

#bigbuttons li.exchange
  {
	background-image: url(images/white_button.png);
	background-repeat: repeat;
  border: 2px solid #8CC63F;
  }

#bigbuttons ul.big a
{
	color: #000;
}

#bigbuttons ul.big h2 a
  {
	color: #fff;
	line-height: 1.5em;
  }

#bigbuttons p
  {
	margin-left:10px;
	margin-right:10px;
  }

#bigbuttons div.view li
{
	list-style: none;
}

#bigbuttons div.view ul
{
	padding: 0;
}

#bigbuttons h2 {
	background-repeat: no-repeat;
	background-position: center center;
}

#bigbuttons h2.explore {
	background-image: url(images/homepage/orangetitle.png);
}

#bigbuttons h2.latest {
	background-image: url(images/homepage/pinktitle.png);
}

#bigbuttons h2.involved {
	background-image: url(images/homepage/greentitle.png);
}

#homepagetext {
	background-image: url(images/white_button.png);
	background-repeat: repeat;
	padding: 0 0em 0em 2em;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 45px;
  border: 2px solid #7E8082;
}


/* donate button on homepage */
#block-block-5 {
  text-align: center;
}

/* floats the filter for the view to the right */
/* currently just hiding the exposed filter on the map */

div.view-og-ghp-map form#views-filters, div.view-greenmap form#views-filters {

	display: none;
/*
	z-index: 2;
	position: absolute;
	right: 208px;
	top: 65px;
	background-color:white;
	opacity:0.85;
	padding: 25px;
*/
}

/* Theme the popup window on map */
div.gmappopup, div.gmapstyle-title a, div.gmappopup a {
	color: #414141;
	width: 300px;
}

div.gmapstyle-name {
	text-transform: lowercase;
}

div.gmapstyle-title {
	font-size: 1.4em;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	margin-bottom: 10px;

}

div.gmapstyle-field_image_embed {
	float: right;
}

div.gmapstyle-value, div.gmapstyle-value div.fivestar-widget-static, div.gmapstyle-more {
	display: inline;
}

div.gmapstyle-more {
	margin-left: 10px;
}

div.gmapstyle-email {
	background-image: url(img/email.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px 4px;

}

div.gmapstyle-link {
	background-image: url(img/link.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px 4px;
}

/*
	GH: not in use anymore

div.gmappopup .nature, div.nature a {
	color: #64b535;
	border-color: #64b535;
}
div.gmappopup .culture, div.culture a {
	color: #e18321;
	border-color: #e18321;
}
div.gmappopup .sustainability, div.sustainability a {
	color: #1b72d9;
	border-color: #1b72d9;
}
*/

/*****
 * TT custom styles for GGM node-green_site.tpl.php
 */

/** New to be moved over **/

div.sustainable div.taxname {
	color: #2E67B1;
}

div.nature div.taxname {
	color: #089848;
}

div.culture div.taxname {
	color: #F79838;
}

div#address, div#mediathumbs {
	float: right;
	width: 175px;
  margin-left:10px;
}

div#address {
  /* GH: added to limit the address to four lines for now */
/* 	max-height: 68px; */
/* 	overflow: hidden; */
}

img.submitted_icon {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}
img.map_icon {
  float: left;
  margin-right: 5px;
}


#bubble_small .submitted_text {
  float: left;
  font-size: 0.9em;
}

#bubble_small .submitted_icon {
/*   clear: left; */
}

div#siteactions ul {
	list-style: none;
	padding: 0;
}

div#siteactions a {
	color: #999999;
}

div.fivestar form.fivestar-widget {
	clear: none;
}

div.fivestar div.fivestar-widget {
	display: inline;
}

h2.icontitle {
	color: #666666;
	margin-bottom: 10px;
	margin-top: 0;
	font-weight: normal;
	/* GH: we limit the height here */
	max-height: 1.3em;
	overflow: hidden;
}

div#address a {
 	color: #99cc33;
}

div.taximage img {
	margin-right: 8px;
}

/* zen copied tabs for bubbles */

div.drupal-tabs ul.primary li
{
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
  background: url(images/tab-left.png) no-repeat left -38px;
}

div#tabs-tabset ul.tabs {
	height: 2em;
}

div.drupal-tabs ul.primary li a
{
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: -1px;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(images/tab-right.png) no-repeat right -38px;
  position: relative;
  top: 1px;
}

div.drupal-tabs ul.primary a:hover
{
  border-width: 0;
  background-color: transparent;
  background: url(images/tab-left.png) no-repeat left -76px;
}

div.drupal-tabs ul.primary li a:hover
{
  background: url(images/tab-right.png) no-repeat right -76px;
}

div.drupal-tabs ul.primary li.active ,
div.drupal-tabs ul.primary li.active
{
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url(images/tab-left.png) no-repeat left 0;
}

div.drupal-tabs ul.primary li.active a ,
div.drupal-tabs ul.primary li.active a:hover
{
  background: url(images/tab-right.png) no-repeat right 0;
}
/* end of tabs */

div.fivestar {
	display: block;
  margin-top: 10px;
}

div.siteicons {
	display: inline;
	float: left;
	margin-right: 10px;
}

div.siteicons ul.links li {
	padding: 0 3px;
}

div#content-area div.node div.links ul.links li a.translation-link {
  display: none;
}

div.meta {
	margin-top: 10px;
}
div.meta-bubble {
  float: left;
}
div.meta .submitted_text {
  float: left;
}
/** Styles for navigation/key stuff **/

div.fragment {
	padding: 0;
}

div.rightalign {
	text-align: right;
}

img.imagecache-mapkey {
	margin-right: 3px;
}

div.block-group_map select {
	width: 180px;
}

a.downloadmap {
	background: url(images/downloadmap.gif) no-repeat;
	padding-left: 20px;
}

div#tabs-tabset-1, div#tabs-tabset-2, div#tabs-tabset-3 {
	padding: 10px;
	background: url(images/grey.png) repeat-y right;
}


div#tabset-tab-1, div#tabset-tab-2, div#tabset-tab-3 {
	padding: 10px;
	background: url(images/grey.png) repeat-y right;
}

div#block-group_map-1 ul.primary, div#block-group_map-0 ul.primary {
	background-color: #fff;
	height: 2em;
	padding-left: 2px;
}

div#block-group_map-1 div.content, div#block-group_map-0 div.content {
	background: transparent url(images/grey.png) repeat-y;
}

div#block-group_map-1 div.block-inner, div#block-group_map-0 div.block-inner {
	background: transparent url(images/grey.png) repeat-x bottom;
}

div#block-group_map-1 h2, div#block-group_map-1 h3, div#block-group_map-0 h2, div#block-group_map-0 h3 {
	margin-top: 0;
}

/* Theming of testimonials block */

div.block div.node {
	padding: 0;
}

div.block div.node p {
	margin-top: 0;
}


/* have to hide this - for some reason search block embedded doesn't work with out the real block on the page */
div#block-search-0 {
	/* display: none; */
}

/** end of new **/

/* Theming the comments */

h2#comments-title {
  font-size: 1.5em;
}

/* disable comments everywhere except where explicitly allowed */


body.node-type-green-site h2#comments-title
{
  display: none;
}

body.node-type-support-forum-issue div#comments div#comments-inner,
div#green_site_full div.mycomments div#comments div#comments-inner
{
	display: block;
}

#green_site_full {
    padding: 2em;
}

/* Theming tabs */

div.tabs div.fragment {
	background: transparent;
}

/* Theming Language Block */

div#block-locale-0 H2 {
	display: none;
}

div#block-locale-0 ul, div#block-locale-0 li {
	display: inline;
	padding: 0 1em 0 0;
}

.hidden {
	display: none;
}

#bubble_full_edit {
	/* edit */
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;	/* GH: use different font? */
	font-size: 0.8em;
	margin-right: 2px;
	margin-top: 2px;
	text-align: right;
}


/* Impacts tab */

#addimpact {
	margin-right: 10px;
	margin-top: 15px;
}

#addimpact select {
	margin-left: 5px;
	margin-right: 5px;
}

#tabs-tabset #impacts_chart {
	float: left;
	margin-top: 25px;
}

#impacts_right {
	margin-left: 305px;
	margin-right: 12px;
	margin-top: 25px;
}

#impacts_list {
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	height: 130px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#impacts_list ul {
	margin: 0px;
}

#impacts_stats {
	color: #999999;
}

.view-empty-list-of-impacts-for-site {
	text-align: center;
}

div.view-impacts div.views-row {
	padding: 0.5em 1em;
}

/* Multimedia */

#multimedia_main {
	height: 240px;
	margin-left: 0;
	margin-top: 10px;
	position: absolute;
	width: 320px;
}

div.multimedia {
  height: 250px;
}

div#comment .resizable-textarea textarea {
	height: 50px;
}

#multimedia_description {
	/* font-size: 11px;  /* Removed by TT as avoiding fixed size fonts */
	height: 229px;
	left: 366px;
	line-height: 1.15;
	margin-top: 26px;
	max-height: 229px;
	max-width: 160px;
	overflow: hidden;
	position: absolute;
	width: 160px;
	padding-left: 10px;
}


.multimedia_description_title {
	max-height: 165px;
	overflow: hidden;
	padding-bottom: 2px;
}


.multimedia_description_flag {

}


.multimedia_description_description {
	padding-top: 1em;
}


#multimedia_selector_title {
	/* font-size: 11px;  /* Removed by TT as avoiding fixed size fonts */
	left: 545px;
	margin: 0px;
	margin-top: 10px;
	position: absolute;
}


#multimedia_selector_title a {
	color: rgb(140, 198, 65);
}


#multimedia_selector {
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	height: 212px;
	left: 545px;
	margin-top: 42px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 96px;
}


#multimedia_selector ul {
	margin: 0px;
	padding: 0px;
}


#multimedia_selector li {
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-color: #cccccc;
	border-style: dotted;
	cursor: pointer;
	line-height: 1em;
	list-style-type: none;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: center;
}


#multimedia_selector li:hover {
	background-color: #eeeeee;
}


#multimedia_selector li img {
	vertical-align: middle;
	margin-left: 1px;
}

/* sponsors page */
#node-2734 img {
	float: left;
	margin-right: 10px
}
#node-2734 {
	max-width: 600px;
}

/* share and promote page */
#node-5284 img {
	float: left;
	margin-right: 10px
}
#node-5284 {
	max-width: 600px;
}

/* simple pages - hide admin menu */
body.simple #admin-menu, body.simple #closure-blocks {
    display: none;
}


#dhtml_menu-3290-1_menuitem ul.menu{
width: 100px  !important;
}

#dhtml_menu-130-1_menuitem ul.menu{
width: 100px  !important;
}

#dhtml_menu-135-1_menuitem ul.menu{
width: 100px  !important;
}

.block-lang_dropdown {
width: 250px;
}

.block-lang_dropdown .content{
opacity: .6;
}

.block-lang_dropdown .title {
color:#F0FFDF;
float:left;
font-size:11px !important;
font-weight:200;
padding-right:5px;
padding-top:6px;
}

/* infowindow connections tab */
div#connections_content div.view-maps-proximity-search div.item-list div.views-field-distance,
div#connections_content div.view-maps-proximity-search div.item-list div.views-field-distance-1,
div#connections_content div.view-id-sites div.item-list div.views-field-country,
div#connections_content div.view-id-sites div.item-list div.views-field-city {
  display: inline;
}

form ul.tips li {
  margin-left: 25px;
}

body.node-type-green-map ul.links {
  float: right;
  margin-top: 5px;

}

body.node-type-green-map ul.links li  {
  display: inline;
  list-style-type: none;
  padding: 0px;

}


#block-block-13 h2, #block-block-12 h2 {
display: none;
}

#block-block-13, #block-block-12 {
margin-top: -12px;
}

#block-block-13 iframe, #block-block-12 iframe{
overflow-x: hidden;
margin-top: -6px;
}

#block-search-0 {
border-bottom:2px solid #F89938;
margin-left:17px;
margin-right:17px;
padding-bottom:17px;
text-align:center;
}

#block-search-0 #edit-submit, #block-search-0 #edit-submit-2 {
background: #f89938;
color: #ffffff;
width: 140px;
margin: 6px 0 2px 0;
font-family: lucida grande;
border: none;
font-size: 14px;
height: 25px;
text-transform: lowercase;
}

#block-search-0 label {
font-size: 12px;
color: #f89938;
letter-spacing: 1px;
font-weight:100;
font-family: lucida grande;
letter-spacing: .5px;
}

#block-search-0 #edit-search-block-form-1, #block-search-0 #edit-submit-1 {
border: 2px #f89938 solid;
height: 19px;
width:136px;
font-family: Arial;
letter-spacing: .5px;
margin-top:4px;
}

div#block-search-0  {
text-align:center;
}

#advsearch{
text-align: center;
}

#advsearch a{
font-size: 10px;
color: #f89938;
letter-spacing: 1px;
font-weight:100;
font-family: lucida grande;
text-transform: lowercase;
margin-top: -10px;
}

#advsearch a:hover{
text-decoration: underline;
}

#proxor {
background:none repeat scroll 0 0 white;
color:#F89938;
font-family:lucida grande;
font-size:10px;
font-weight:600;
letter-spacing:1px;
margin:-22px auto auto;
text-align:center;
text-transform:lowercase;
width:30px;
margin-bottom: -12px;
}

#navbar li{
float: left !important;
}

#navbar {
float:right;
height:0;
overflow:visible;
position:absolute;
text-align:right;
top:158px;
}

.breadcrumb {
width: 500px;
}

#navbar #secondary {
margin-right:217px;
position:absolute;
right:0;
top:-100px;
}

#sidebar-right {
margin:54px 20px 0 0 !important;
}

div#custom-login {
border: none !important;
margin-right:13px !important;
min-width: 0px !important;
font-size:11px !important;
position:relative !important;
right:-8px !important;
top:-21px !important;
}

div#custom-login .name {
color:#2e68b2 !important;
text-align:right !important;
}

div#custom-login .additional:after {
content: " |";
}

div#custom-login .uaction a {
color:#2e68b2 !important;
text-transform: lowercase;
}

div#custom-login .uaction {
background: none !important;
padding:3px 0 !important;
text-align:left !important;
float: left !important;
}

div#custom-login .additional {
background: none  !important;
padding:3px 3px !important;
}

#logo-title .maptitle {
margin-top:25px;
}

.dhtml-menu a {
display:block;
height:auto;
padding-top:4px;
padding-bottom:3px;
}

.dhtml-menu .menu a {
float: none;
margin-right:0px !important;
line-height:14px;
padding:5px;
}

.dhtml-menu .menu li {
width: 100px;
}

div#block-menu-primary-links ul.menu li ul.menu {
float:right;
margin-top:0 !important;
position:relative !important;
right:0px !important;
width:auto !important;
background: none;
height: 0;
top: -4px;
overflow: visible;
border: none !important;
border-top:3px solid #ABE282 !important;
left: 1px;
padding: 0 !important;
}

#main {
top: 30px;
}

#header {
float:left;
height:44px;
width:100%;
}

#block-menu-primary-links li{
float: left;
}

div#block-menu-primary-links ul.menu li ul.menu li {
display:block;
height:auto;
padding-right:4px;
text-align:right;
width:85px;
background: #ffffff;
border-bottom:1px solid #99CC33 !important;
border-left:1px solid #99CC33 !important;
border-right:1px solid #99CC33 !important;
margin-left: 0px !important;
}

div#block-menu-primary-links ul.menu li ul.menu li ul.menu li:first-child  {
border-top: 1px solid #99CC33 !important;
}

div#block-menu-primary-links ul.menu li ul.menu ul.menu {
top: -25px;
left: 0px;
border: none !important;
border-top: none !important;
}

#block-menu-primary-links li {
border-left:1px solid #DAF2C7;
display:inline;
padding:0 !important;
text-align:center !important;
width:85px;
height: 25px;
}

div#block-menu-primary-links ul.menu li ul.menu li {
display:block;
text-align:right;
text-align: center !important;
}

div#block-menu-primary-links ul.menu li ul.menu li:hover {
background: #E6F6D3 !important;
}

div#block-menu-primary-links ul li:last-child {
border-right:1px solid #DAF2C7;
}

div#block-menu-primary-links ul li ul li:last-child {
border-right:none;
border-bottom: none;
}

div#block-menu-primary-links ul li ul li {
border-left: none;
}

div#block-menu-primary-links ul li ul li ul{
border-left: none;
margin-right: 85px;
}

#closure-region {
z-index: -10;
}

#header-blocks a{
color: #ffffff !important;
}

#header-blocks ul li ul li a{
color: #8cc63f !important;
}

#header-blocks a:hover{
color:#8cc63f !important;
background: white;
opacity: .7;
text-decoration: none !important;
}

div#block-menu-primary-links ul.menu li ul.menu a {
opacity: 1;
background: none;
}


#logo-title {
height: 100px;
}

#block-menu-primary-links li, #block-menu-menu-footer li {
display:block;
float:left;
padding:0 1em 0 0;
}

#closure-region {
z-index: 10000;
}

div#block-menu-primary-links ul li:last-child {
background:url("images/bluetop.png") repeat scroll 0 0 transparent;
}

#dhtml_menu-3315-1_menuitem {
background:url("images/bluetop.png") repeat scroll 0 0 transparent;
}

#dhtml_menu-3315-1_menuitem a:hover{
color: #2e68b2 !important;
}

#dhtml_menu-3315-1_menuitem ul li a:hover{
color: #8cc63f !important;
}

#dhtml_menu-3315-1_menuitem ul{
border-top:3px solid #bed0e7 !important;
border-color: #bed0e7 !important;
}

div#block-menu-primary-links ul li:last-child a:hover{
color: #2e68b2 !important;
}

/*div#block-menu-primary-links ul li ul li:last-child {
background:url("images/pinktop.png") repeat scroll 0 0 transparent;
}*/

div#block-menu-primary-links ul li ul li:last-child a:hover{
color: #8cc63f !important;
opacity: 1;
}

#keys_help_button {
top:141px !important;
}

#instruction_bubble {
top:118px !important;
}

.view-proximity ul {
list-style: none;
}

.view-proximity .views-field-vid {
margin-right: 20px;
}

.view-proximity ul li {
list-style: none;
margin-bottom: 15px;
}

.view-proximity .views-field-distance {
font-size: 13px;
margin-left: 20px;
color: #555555;
}

.view-proximity .views-field-title {
padding-top: -5px;
font-size: 18px;
}

#edit-field-map-license-value-wrapper {
 visibility:hidden;
}

/* Dashboard Bulk Edit View */

.view-dashboard-bulkedit .views_table { width:100%; }
    
