/* $Id$ */

/* hide these two form inputs */

div#edit-field-site-nid-nid-wrapper,
div#edit-field-because-of-this-site-value-wrapper {
    display: none;
}

.top_info {
	min-height: 200px;
	width: 47%;
}

.left {
	float: left;
}


#sponsor_image {
	margin: 5px;
	float: left;
	width: 100%;
}

#sponsor_name {
	margin-bottom: 5px;
	float: left;
	width: 100%;
	color: #8CC63F;
	font-weight: bold;
}

#sponsor_desc {
	margin-bottom: 20px;
	float: left;
	width: 100%;
	color: #333;
}

.block_title {
	color: #8CC63F;
	font-weight: bold;
	font-size: 16px;
	margin-top: 16px;
}

#content-area #about_content {
	width: 100%;
	float: left;
	min-height: 1000px;
	min-width: 600px;
	color: #333;
}

#content-area #top_left {
	width: 57%;
	float: left;
}

#content-area #top_right {
	width: 40%;
	min-height: 800px;
	float: right;
	margin-left: 3%;
}

#sidebar-right {
	float: left;
	margin-left: 10px;
}
